# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Build output
dist/
*/dist/
**/dist/
build/
*/build/
**/build/

# Capacitor
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json

# Env
.env
.env.local
.env.production
*.env
backend/.env

# IDE
.idea/
.vscode/
*.iml

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db